* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mier book";
}

.container1 {
  height: fit-content;
  width: 100%;
  position: fixed;
  background: white;
  z-index: 100;
}

.header {
  width: 100%;
  height: 79px;
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  margin: 0 60px;
  justify-content: center;
  align-items: center;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;

}

.search-icon {
  color: #921414;
  cursor: pointer;
}

.input-search {
  width: 400px;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  background-color: #f5f5f5;
  color: #333333;
  margin-left: 10px;
}

.right-side {
  display: flex;
  width: 620px;
  align-items: center;

}

.list {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 30px;
}

.list li {
  list-style: none;
}

.download {
  width: 140px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.supplier {
  width: 140px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;


}

.header2 {
  height: 50px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

.items li {
  cursor: pointer;
  list-style: none;
  font-weight: 400;
  color: black;
  font-style: normal;
  font-size: 16px;
  font-family: "Mier book";
  position: relative;

}

.items li:hover {
  color: rgb(205, 24, 175);
  font-weight: 500;
}


.items li:hover::after {

  content: "";
  /* Create a pseudo-element */
  position: absolute;
  /* Position the pseudo-element */
  left: 0;
  /* Align the pseudo-element to the left */
  bottom: -15px;
  /* Adjust the distance of the line from the name */
  width: 100%;
  /* Set the width of the pseudo-element */
  border-bottom: 3px solid rgb(205, 24, 175);
  ;
  /* Adjust the border properties as needed */
}

.profilepart {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100px;
  justify-content: center;


}

.cartpart {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100px;
  justify-content: center;

}

.profileicon,
.profile,
.cartIcon,
.cart {
  display: flex;
  align-items: center;
  justify-content: center;

}

.cartIcon {
  position: relative;
}

.counter {
  position: absolute;
  background: rgb(255, 231, 251);
  border-radius: 50%;
  right: 18px;
  top: -8px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(159, 32, 137);
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userR {
  display: none;
}

.user {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 80px;
  right: 135px;
  border: 1px solid #a39c9d;
  height: 130px;
}



.username {
  padding-bottom: 10px;
  margin-bottom: 3px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

.logout {
  text-align: center;
  margin: 5px 62px;
  width: fit-content;
  padding: 3px;
  font-size: 20px;
  font-weight: 400;
  background: none;
  border: none;
}



.hidden {
  display: none;
}