/* productDetails.css */

.product-details {
    display: flex;
    padding-top: 180px;
    width: 80%;
    margin: 0px 250px;
   
  }
  
  .additional-photos {
    display: flex;
    flex-direction: column;
    width: 10%;
  }
  
  .additional-image {
    width: 80%;
    height: 70px;
    margin-bottom: 10px;
  }
  
  .main-section {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    width: 40%;
    
  }
  
  .mainpic{
    width: 100%;
    height: 400px;
  }
 
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    color: rgb(239, 36, 188);
    gap: 10px;
  }
  
  .buttons button {
    margin-right: 10px;
  }
  
  .product-info {
    color: rgb(97, 97, 115);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    width:30% ;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
  }
  
  .productDisName{
    /* border: 1px solid black;
    padding: 5px 10px; */
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px 16px;
    border: 1px solid rgb(234, 234, 242);
  }
  .product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
  }
  
  .size-selection {
    color: rgb(97, 97, 115);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    margin-top: 20px;
    /* border: 1px solid black; */
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px 16px;
    border: 1px solid rgb(234, 234, 242);
  }
  
  .size-selection p {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .radio-group {
    display: flex;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
  
  .product-details-list {
    /* border: 1px solid black; */
    padding: 5px 10px;
    color: rgb(97, 97, 115);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px 16px;
    border: 1px solid rgb(234, 234, 242);
  }
  
  .product-details-list li {
    margin-bottom: 5px;
  }
  

  .headings{
    color: black;
    margin-bottom: 5px;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .loadingMeesho {
    border-radius: 20px;
    width: 100px;
    height: 80px;
  }